img {
    width: 1000px;
    border-radius: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    width: 1000px;
    text-align: justify;
}
body {
    background: #2b70ce;
    font-family: Arial;
}

.wrapper {
    background: #fff;
    width: 1000px;
    padding: 10px 50px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 75px;
}

.bth {
    background: linear-gradient(#6fa0ef, #2b70ce);
    min-height: 100vh;
    padding: 3px 12px;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.1s;
}

.bth:hover {
    padding: 5px 15px;
    background: linear-gradient(#ff0000, #ed4848);
    min-height: 100vh;
    
}

.menu {
    position: fixed;
    background: #f5ff00;
    width: 1000px;
    padding: 10px 50px;
    margin: 0 auto;
    border-radius: 10px;
    top: 5px;
    left: 399px;
}

.menu_bth {
    color: #0bbc27;
    padding: 3px;
    margin: 3px;
    text-decoration: underline;
    font-weight: 600;
    
}

.menu_bth:hover {
    background: #ffffff;
    border-radius: 3px;
}